header
    .header__container
        .header__image 
            img(src="images/logo.webp", alt="logo")
        nav 
            ul 
                li: a(href="index.html") Главная                    
                li: a(href="about.html") Обо мне
                li: a(href="contacts.html") Контакты
                    

         
